.impact {
  max-width: 140rem;
  margin-inline: auto;
}

.impact h2 {
  font-size: clamp(3rem, calc(1.5vw + 0.9rem), 4rem);
  margin-bottom: 5rem;
  color: #616161;
  width: 100%;
  padding: 2rem 3rem;
  border-radius: 2rem;
}

.impact__content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 30rem 30rem;
  grid-auto-rows: auto;
  gap: 2rem;
}

.small-card {
  display: grid;
  background-image: url("../../images/img-woman-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  aspect-ratio: 1/1;
  border-radius: 1em;
  padding: 2rem;
  position: relative;
}

.small-card__info {
  display: flex;
  align-items: flex-end;
  color: #fcfbfb;
  gap: 1rem;
}

.small-card__text,
.small-card__number {
  backdrop-filter: blur(25px);
  border-radius: 0.2em;
  padding: 0.5rem 1rem;
}

.small-card__text {
  font-size: 1.8rem;
}

.small-card__number {
  font-size: 9rem;
  font-weight: 400;
  margin-left: -20%;
}

.small-card svg {
  z-index: 44;
  color: #fda579;
  opacity: 0.8;
  width: 8em;
  height: 6em;
  right: 5px;
  top: 0;
  position: absolute;
}

.big-card {
  grid-column: 4/-1;
  grid-row: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr auto auto auto;
  gap: 1rem;
  background-image: url("../../images/img-chair.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 2rem;
  border-radius: 2rem;
}

.big-card p {
  display: inline-block;
  height: min-content;
  width: fit-content;
  letter-spacing: 1px;
  color: #fcfbfb;
  font-size: 2rem;
  padding: 1rem 2rem;
  backdrop-filter: blur(35px);
  border-radius: 1em;
}

.big-card p:nth-of-type(1) {
  grid-column: 1/-1;
  font-size: 4rem;
  color: #616161;
}

.quote-card {
  grid-column: 2/4;
  grid-row: 2/3;
  align-self: end;
  color: #fcfbfb;
  display: grid;
  gap: 3rem;
  grid-template-rows: auto 1fr auto;
  padding: 2.5rem 3.5rem;
  background-color: #616161;
  border-radius: 2rem;
  opacity: 0.9;
}

.quote-card__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.quote-card__label {
  font-size: 1.5rem;
  font-weight: 100;
}

.quote-card__dots {
  display: flex;
  gap: 0.3rem;
}

.quote-card__dot {
  height: 0.5rem;
  aspect-ratio: 1/1;
  border-radius: 20rem;
  background-color: #fda579;
}

.quote-card__dot--active {
  aspect-ratio: 2/0.6;
  background-color: #fff;
}

.quote-card__quote {
  font-size: 2rem;
  align-self: center;
}

.quote-card__caption {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.quote-card__avatar {
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 20rem;
}

.quote-card__info {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.quote-card__name {
  font-weight: bold;
  font-size: 1.2rem;
}

.quote-card a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  margin-left: auto;
}

.quote-card a span {
  display: inline-block;
  color: #616161;
  background-color: #fff;
  font-size: 2rem;
  line-height: 1;
  border-radius: 20rem;
  aspect-ratio: 1/1;
}

@media screen and (max-width: 1200px) {
  .impact {
    padding: 1rem;
  }

  .big-card {
    grid-column: 3/-1;
  }

  .small-card {
    grid-column: 2/3;
  }

  .quote-card {
    grid-column: 1/3;
  }
}

@media screen and (max-width: 1000px) {
  .big-card {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
  .impact {
    width: 95%;
    padding: 0;
  }
}

@media screen and (max-width: 736px) {
  .impact__content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-template-areas: none;
    gap: 6rem;
  }

  .big-card {
    grid-column: span 2;
    grid-row: 2/3;
    height: 60rem;
  }

  .small-card {
    grid-column: 2/-1;
    grid-row: 1/2;
  }

  .quote-card {
    grid-column: span 2;
    grid-row: 3/-1;
  }
}
