.stories {
  padding: 4rem 3rem;
  border-top: rgb(97 97 97 /0.19) solid 1px;
  border-bottom: rgb(97 97 97 /0.19) solid 1px;
}

.stories__header {
  text-align: center;
}

.stories__eyebrow {
  font-size: 3.3rem;
  color: #fda579;
  font-weight: 700;
}

.stories__title {
  font-size: 5rem;
  margin-block: 1rem 2.5rem;
}

.stories__subtitle {
  font-size: 2.7rem;
  color: #fda579;
}

.stories__swiper {
  position: relative;
  max-width: 80rem;
  margin-inline: auto;
  padding-block: 3rem 5rem;
}

.stories__list {
  width: 100%;
}

.stories__swiper .swiper-slide {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

.stories__button {
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
  background-color: #fcfbfb;
  border: 1px solid rgb(97 97 97 /0.2);
  box-shadow: 0 1.2rem 2.4rem rgb(0 0 0 /0.08);
}

.stories__button::after {
  font-size: 1.4rem;
  color: #616161;
  font-weight: 700;
}

.stories__pagination .swiper-pagination-bullet {
  background-color: #d6d6d6;
  opacity: 0.6;
}

.stories__pagination .swiper-pagination-bullet-active {
  background-color: #fda579;
  opacity: 1;
}

.stories__card {
  display: flex;
  align-items: center;
  border: solid 1px rgb(97 97 97 /0.22);
  border-radius: 2rem;
}

.stories__card-media {
  flex: 0 0 250px;
  aspect-ratio: 3/4;
  overflow: hidden;
  border-radius: 2rem;
}

.stories__card-media img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.stories__card-content {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5rem;
}

.stories__card-text {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.stories__card-footer {
  display: flex;
  gap: 5rem;
  border-top: #fda579 1px solid;
  padding-top: 4rem;
}

.stories__card-name,
.stories__card-org-name {
  font-size: 1.8rem;
  font-weight: 700;
}

.stories__card-role,
.stories__card-org-number {
  font-size: 1.8rem;
}

@media screen and (max-width: 768px) {
  .stories {
    padding: 4rem 1rem;
  }

  .stories__title {
    margin-block: 1rem;
  }

  .stories__swiper {
    max-width: 100%;
    padding: 2rem 1rem 5rem;
  }

  .stories__swiper .swiper-slide {
    padding: 1.5rem;
  }

  .stories__card {
    flex-direction: column;
    text-align: center;
    max-width: 100%;
    padding: 2rem;
  }

  .stories__card-media {
    aspect-ratio: 1/1;
  }

  .stories__card-content {
    padding: 3rem 2rem;
  }

  .stories__card-footer {
    justify-content: space-around;
  }

  .stories__button {
    width: 3.8rem;
    height: 3.8rem;
  }
}
